/** 
* style.css
* index:
* - reset
* - semantic elements
* - root-level classes
* - headings
* - - h1
* - - h2
* - - h3
* - divs
* - imgs
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: rgba(0, 217, 255, 0.221) */
}
/* Semantic Elements */
body {
    background-color: #d9dcd6;
}

header {
    

    /* padding: 20px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}


main {
    display: flex;
    flex-wrap: wrap;
  }

header h1 {
    margin-left: 20px;

}
/* nav {
    display: flex;
    background-color: #d8a47f;
  } */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
}

/* hero  */
.hero {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.hero img {
    margin-top: 20px;
    display: inline-block;
    width: 20%;
    height: auto;
    margin-left: 20px;
}

.hero .paimei {
    margin-top: 20px;
    height: 100%;
}
.contact {
    margin-left: 20px;
    
}

/* root-level classes */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    flex: 1;
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}

.content section {
    float: left;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #0072bb;
    color: #ffffff;
}

.content section div img {
    float: left;
    max-width:65%
}

.content .myCode {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}
.content .myCode header {
    padding: 20px;
}

.content .myCode img {
    width: 100%;
}

/* headings */

/* h1 */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* h2 */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer h2 {
    font-size: 20px;
}



/* divs */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}

header div ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  body, header {
    flex-direction: column;
  }
}
